<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <title>Editace pojištěnce</title>
</head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<section id="editPojistenec">
    <form class="editPojistence" th:action="@{/pojistenci/edit/{id}(id=${pojistenec.pojistenci_id})}" th:object="${pojistenec}" method="post">
        <h2>Editace pojištěnce:</h2>
        <input type="hidden" th:field="*{pojistenci_id}" />
        <div class="row">
            <div class="col-6">
                <div class="jmeno">
                    <label for="name">Jméno:</label>
                    <input type="text" id="name" th:field="*{Name}" >
                </div>
            </div>
            <div class="col-6">
                <div class="lastName">
                    <label for="lastName">Příjmení:</label>
                    <input type="text" id="lastName" th:field="*{lastName}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="birthday">
                    <label for="birthday">Datum narození:</label>
                    <input type="date" id="birthday" th:field="*{birthday}">
                </div>
            </div>
            <div class="col-6">
                <div class="telefon">
                    <label for="telefon">Telefon:</label>
                    <input type="text" id="telefon" th:field="*{telefon}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="uliceAcisloPopisne">
                    <label for="address">Ulice a číslo popisné:</label>
                    <input type="text" id="address" th:field="*{address}">
                </div>
            </div>
            <div class="col-6">
                <div class="town">
                    <label for="town">Město:</label>
                    <input type="text" id="town" th:field="*{town}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="psc">
                    <label for="psc">PSČ:</label>
                    <input type="text" id="psc" th:field="*{PSC}">
                </div>
            </div>
        </div>

        <div class="pojistenec">
            <input type="submit" value="Uložit změny">
        </div>
    </form>
</section>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>